{% extends "header.html" %}
{% load static %}
{% block content %}
  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">

    <div class="container">
      <div class="row">
      	<br>
      	<br>
        <div class="col-lg-6 pt-5 pt-lg-0 order-2 order-lg-1">
          <h1>Enhancing Life</h1>
          <h2>Innovating health for tomorrow with the passion of delivering the best care.</h2>
          <a href="#about" class="btn-get-started scrollto">Get Started</a>
        </div>
        <div class="col-lg-6 order-1 order-lg-2 hero-img">
          <img src="{% static 'img/Section-2_Banner-Image_1.svg' %}" class="img-fluid animated" alt="">
        </div>

      </div>
    </div>
  </section><!-- End Hero -->
  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="d-flex align-items-center">
    <div class="container">
      <div class="row">
      	<div class="col-lg-6 pt-5 pt-lg-0 hero-img" style="margin: 50px 0 0 0">
          <img src="{% static 'img/Section-3_Banner-Image_1.svg' %}" alt="" class="img-fluid" alt="" data-aos="zoom-in">
        </div>
        <div class="col-lg-6 order-1 order-lg-2">
            <h3 data-aos="fade-up">Welmonde Healthcare</h3>
            <p data-aos="fade-up" data-aos-delay="100">
              Welmonde Healthcare intends to help ease the effects of lifestyle-related problems through its 10000+ service providers, PAN India, by offering a convenient and easy to use platform for people to live a healthier life.
			  We help you choose the best and complete medical health checkup package as per your age and gender.
            </p>
            <br>
            <div class="row">
              <div class="col-md-6" data-aos="fade-up" data-aos-delay="100">
                <!-- <i class="bx bx-receipt"></i> -->

				<i style='font-size:28px;color: #069D88' class='fas'>&#xf1e5;</i>
        ## <!-- <i style="font-size:24px" class="fa">&#xf06e;</i> -->
                {#<!-- <img src="{% static 'assets/img/Branding.png' %}"/> -->#}
                <h4>Vision</h4>
                <p>Our purpose is to be one of the leading health care providers, to improve the health of those we serve with a commitment of excellence in all that we do.</p>
              </div>
              <div class="col-md-6" data-aos="fade-up" data-aos-delay="200">
              	<i style='font-size:28px;color: #069D88' class='fas'>&#xf140;</i>
                <!-- <i class="bx bx-cube-alt"></i> -->
                <h4>Mission</h4>
                <p>To help people achieve their full potential for health and well-being across the lifespan.</p>
              </div>
            </div>
          </div>

      </div>
    </div>
    </section><!-- End About Section -->

       <!-- ======= Our Services Section ======= -->
    <section id="services" class="services">
      <div class="container">

      	<div>
        <div class="section-title">
          <h2><b>Services</b></h2>
          <!-- <br> -->
          <!-- <br> -->
          <p>Check out the services we offer</p>
         </div>
          <p style="text-align: center;">
          	Welmonde’s Corporate Health Packages provides you with the right platform to improve  & monitor the health and well-being of your employees because they are your greatest assets.
			We recognize that a healthy, happy and committed workplace is needed for a successful business.
          </p>
          <br>
        </div>
        <div >
        <div class="row">
          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box">
              <div class="icon"><i style='font-size:35px' class='fas'>&#xf0f1;</i></div>
              <h4 class="title"><a href="">Annual Health Checkup</a></h4>
              <p class="description">Annual Health Checkup ensures a holistic solution, which keeps a track on an employee’s health status and enables them to take preventive measures at the right time.
			</p>
            </div>
          </div>
          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box">
              <div class="icon"><i style='font-size:35px' class='fas'>&#xf0fa;</i></div>
              <h4 class="title"><a href="">Pre-Employment Health Checkup</a></h4>
              <p class="description">Pre-Employment health checkup informs the company of the present health status of the newly hired candidate at work.
              </p>
            </div>
          </div>
          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box">
              <div class="icon"><i style='font-size:34px' class='far'>&#xf044;</i></div>
              <h4 class="title"><a href="">Customized Package with Onsite/Offsite Camp</a></h4>
              <p class="description">Welmonde offers customized packages according to your requirements with the best onsite and offsite screening, PAN India.</p>
            </div>
          </div>
          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box">
              <div class="icon"><i style='font-size:35px' class='fas'>&#xf108;</i></div>
              <h4 class="title"><a href="">Web Portal</a></h4>
              <p class="description">An accessible and intuitive interface web portal for scheduling appointments, MIS and Medical reports, through a personal login for each employee of the organization.</p>
            </div>
          </div>
      </div>
          <br><br>
         <div class="row">
          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box">
              <div class="icon"><i style='font-size:35px' class='fas'>&#xf5b1;</i></div>
              <h4 class="title"><a href="">Health Risk Assessment</a></h4>
              <p class="description"> The Health Risk Assessment shows whether the employees are at the risk of any listed conditions which can be prevented or treated.
			</p>
            </div>
          </div>
          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box">
              <div class="icon"><i style='font-size:35px' class='far'>&#xf0f8;</i></div>
              <h4 class="title"><a href="">NABL/NABH Service Providers</a></h4>
              <p class="description">We provide the best service to your employees with NABL/NABH certified Hospitals and Diagnostics Centers, PAN India.</p>
            </div>
          </div>
          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box">
              <div class="icon"><i style='font-size:35px' class='fas'>&#xf5bb;</i></div>
              <h4 class="title"><a href="">Wellness Program </a></h4>
              <p class="description">Our wellness program encourages employees to lead a healthier lifestyle and improve health and well-being through preventive healthcare.</p>
            </div>
          </div>
          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <li data-aos="fade-up" data-aos-delay="100">
            <div class="icon-box">
              <div class="icon"><i style='font-size:35px' class='far'>&#xf004;</i></div>
              <h4 class="title"><a href="">Complimentary Services for employees & family</a></h4>
              <p class="description">Welmonde offers the facility to get affordable health packages with free Doctor Consultation to corporate employees and their family.
              </p>
            </div>
          </div>
      </div>
     </div>

  </div>
    </section><!-- End Our Services Section -->

     <!-- ======= More Services Section ======= -->
    <section id="more-services" class="more-services section-bg">
    	<div style="margin: 25px;border-radius: 25px;box-shadow: 0 0 29px 0 rgba(0, 60, 103, 0.12);background: #fff;">
	    <div class="banner"></div>
	    	<!-- <img class="banner" src="assets/img/Section-5_Image_1.jpg"> -->

    <div class="container">
        <div class="card-body">
        	<br>
        	<!-- <h5 class="card-title"><a href="">Autem sunt earum</a></h5> -->
            	<p class="card-text">
            		Welmonde brings to you Executive Health Checkups for employees at wonderful discounts. The corporate health checkup package includes high-end tests, which can detect anomalies at a very early stage and help deter future catastrophes.
            	</p>
              <!-- <a href="#about" class="btn-get-started scrollto">Know More</a> -->
            <a href="#contact" class="btn">Know More</a>
            </div>
        	</div>
    </div>
    </section><!-- End More Services Section -->

    <!-- ======= F.A.Q Section ======= -->
    <section id="faq" class="faq section-bg">
      <div class="container">
        <div class="section-title" data-aos="fade-up">
          <h2>F.A.Q</h2>
          <p>Frequently Asked Questions</p>
        </div>
        <ul class="faq-list">
          <li data-aos="fade-up" data-aos-delay="200">
            <a data-toggle="collapse" class="" href="#faq1">How frequently is a health checkup required?<i class="icofont-simple-up"></i></a>
            <div id="faq1" class="collapse show" data-parent=".faq-list">
              <p>
                Depending on your risk level, you will need to be tested Annually or once every three years.
              </p>
            </div>
          </li>
          <li data-aos="fade-up" data-aos-delay="200">
            <a data-toggle="collapse" href="#faq2" class="collapsed">Why is an Annual Health Checkup important?<i class="icofont-simple-up"></i></a>
            <div id="faq2" class="collapse" data-parent=".faq-list">
              <p>
              	 An Annual Health Checkup can help find the potential issues before they become a problem. By getting the correct health services, screenings and treatment you are taking important steps towards living a longer, healthier life.
              </p>
            </div>
          </li>
          <li data-aos="fade-up" data-aos-delay="300">
            <a data-toggle="collapse" href="#faq3" class="collapsed">How is that Health Checkup Conducted?<i class="icofont-simple-up"></i></a>
            <div id="faq3" class="collapse" data-parent=".faq-list">
              <p>
                 Our team will carry all the assessments and a dedicated health check team will be assigned to escort you through the stages of the health checkup. You will be initially subjected to the definitive investigations depending upon the package. When the results are examined by a qualified doctor, suitable medical advice is given & necessary steps to improve your health.
              </p>
            </div>
          </li>
          <li data-aos="fade-up" data-aos-delay="400">
            <a data-toggle="collapse" href="#faq4" class="collapsed">Why does an employee need a health checkup?<i class="icofont-simple-up"></i></a>
            <div id="faq4" class="collapse" data-parent=".faq-list">
              <p>
                The employee requires health checkup if any problem that may pose a significant impairment in doing a job which may put your coworkers or your work at risk.
              </p>
            </div>
          </li>
          <li data-aos="fade-up" data-aos-delay="500">
            <a data-toggle="collapse" href="#faq5" class="collapsed">How are the samples carried to the lab at the time of Onsite camp?<i class="icofont-simple-up"></i></a>
            <div id="faq5" class="collapse" data-parent=".faq-list">
              <p>
                Once the sample is taken it will be sent to the testing laboratory. Sometimes it has to reach the lab within a certain time frame to ensure it is valid for testing.
              </p>
            </div>
          </li>
          <li data-aos="fade-up" data-aos-delay="600">
            <a data-toggle="collapse" href="#faq6" class="collapsed">Difference between Welmonde services and other services?<i class="icofont-simple-up"></i></a>
            <div id="faq6" class="collapse" data-parent=".faq-list">
              <p>Welmonde provides quality service that is affordable and accessible to all, with discounted offers.</p>
            </div>
          </li>
          <li data-aos="fade-up" data-aos-delay="500">
            <a data-toggle="collapse" href="#faq7" class="collapsed">Can I go for the medical checkups in the evening?<i class="icofont-simple-up"></i></a>
            <div id="faq7" class="collapse" data-parent=".faq-list">
              <p>
              	  If you are going for a full body health checkup then it is not possible, as the sample has to be collected early morning with 12hrs of fasting.
              </p>
            </div>
          </li>
          <li data-aos="fade-up" data-aos-delay="500">
            <a data-toggle="collapse" href="#faq8" class="collapsed">How long will the entire health checkup process take? <i class="icofont-simple-up"></i></a>
            <div id="faq8" class="collapse" data-parent=".faq-list">
              <p>
              	 It takes several minutes to complete some paperwork and about one hour to conduct the screening, depending on the number of tests, your vascular anatomy and your body type.
              </p>
            </div>
          </li>
          <li data-aos="fade-up" data-aos-delay="500">
            <a data-toggle="collapse" href="#faq9" class="collapsed">Can my dependents avail the health check?<i class="icofont-simple-up"></i></a>
            <div id="faq9" class="collapse" data-parent=".faq-list">
              <p>
              	 Yes, you can purchase certain packages for your dependents to avail the services.
              </p>
            </div>
          </li>
          <li data-aos="fade-up" data-aos-delay="500">
            <a data-toggle="collapse" href="#faq10" class="collapsed">Whom should I contact in case of any query during the checkup?<i class="icofont-simple-up"></i></a>
            <div id="faq10" class="collapse" data-parent=".faq-list">
              <p>You can reach Welmonde customer care for end to end support.
              </p>
            </div>
          </li>
        </ul>
      </div>
    </section><!-- End F.A.Q Section -->

    <!-- ======= Clients Section ======= -->
    <br>
    <br>
    <section id="serviceProvider" class="clients section-bg" style="background: #fff">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Service Providers</h2>
          <p>Certified Hospitals and Diagnostics</p>
        </div>

        <div class="owl-carousel clients-carousel" data-aos="fade-up" data-aos-delay="100">
          <img src="{% static 'img/clients/Apollo-Clinic_1.png' %}" alt="">
          <img style="width: 65px;height: 65px" src="{% static 'img/clients/Care-Diagnostics.png' %}" alt="">
          <img src="{% static 'img/clients/Daisy_3.png' %}" alt="">
          <img src="{% static 'img/clients/Sanjivani-Blore_8.png' %}" alt="">
          <img src="{% static 'img/clients/dr-mohan_4.png' %}" alt="">
          <img src="{% static 'img/clients/prima-diagnostics_7.png' %}" alt="">
          <img src="{% static 'img/clients/Health-Spring_6.png' %}" alt="">
          <img src="{% static 'img/clients/Sanjivani-Jaipur_9.png' %}" alt="">
          <img style="width: 65px;height: 65px" src="{% static 'img/clients/Srujana-Hospital-Hyderabad.png' %}" alt="">
          <img style="width: 65px;height: 65px" src="{% static 'img/clients/Trimurti-Diagnostics.png' %}" alt="">
          <img src="{% static 'img/clients/Eclipse-Diagnostics_5.png' %}" alt="">
        </div>

      </div>
    </section><!-- End Clients Section -->

    <!-- ======= Contact Us Section ======= -->
    <section id="contact" class="contact">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Contact Us</h2>
          <p>Get Started</p>
        </div>

        <div class="row">

          <div class="col-lg-5 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
            <div class="info">
              <div class="address">
                <i class="icofont-google-map"></i>
                <h4>Location:</h4>
                <p>N-1, 9th Main, MCECSH, Sanchar Nagar, Telecom Layout, Bangalore - 560077</p>
              </div>

              <div class="email">
                <i class="icofont-envelope"></i>
                <h4>Email:</h4>
                <p><a href="mailto:info@welmonde.health" target="_blank">info@welmonde.health</a></p>
              </div>

              <div class="phone">
                <i class="icofont-phone"></i>
                <h4>Call:</h4>
                <p>6364039090</p>
              </div>

              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3886.7310466795193!2d77.63566441413597!3d13.052784016624932!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae179f98134ac9%3A0x47646c4d44ade7e5!2sWiseWolf%20Solutions%20Pvt.%20Ltd.!5e0!3m2!1sen!2sin!4v1583388736685!5m2!1sen!2sin" frameborder="0" style="border:0; width: 100%; height: 290px;" allowfullscreen></iframe>
            </div>

          </div>

          <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
            <form action="" method="post" role="form" class="php-email-form">
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="name">Your Name</label>
                  <input type="text" name="name" class="form-control" id="name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                  <div class="validate"></div>
                </div>
                <div class="form-group col-md-6">
                  <label for="name">Your Phone Number</label>
                  <input type="text" class="form-control" name="phonenum" id="phonenum"  data-msg="Please enter a valid Phone Number" />
                  <div class="validate"></div>
                </div>
              </div>
              <div class="form-group">
                <label for="name">Your Email</label>
                <input type="email" class="form-control" name="email" id="email" data-rule="email" data-msg="Please enter a valid email" />
                <div class="validate"></div>
              </div>
              <div class="form-group">
                <label for="name">Service</label>
                <input type="text" class="form-control" name="subject" id="subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                <div class="validate"></div>
              </div>
              <div class="form-group">
                <label for="name">Message</label>
                <textarea class="form-control" name="message" rows="10" data-rule="required" data-msg="Please write something for us"></textarea>
                <div class="validate"></div>
              </div>

              <div class="text-center"><button type="submit">Send Message</button></div>
            </form>
          </div>

        </div>

      </div>
    </section><!-- End Contact Us Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact" data-aos="fade-up" data-aos-delay="100">
            <h4><b>Welmonde Health Care Pvt Ltd</b></h4>
            <p>
              N-1, 9th Main, MCECHS,<br>
              Sanchar Nagar, Telecom Layout,<br>
              Bangalore:560077<br><br>
              <strong>Phone:</strong>6364039090<br>
              <strong>Email:</strong>info@welmonde.health<br>
            </p>
          </div>

          <div class="col-lg-3 col-md-6 footer-links" data-aos="fade-up" data-aos-delay="200">
            <!-- <h4>Useful Links</h4> -->
            <!-- <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">About us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Services</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Terms of service</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li>
            </ul> -->
          </div>

          <div class="col-lg-3 col-md-6 footer-links" data-aos="fade-up" data-aos-delay="300">
            <h4>Our Services</h4>
            <ul>
              <li><i></i>Annual Health Checkup</li>
              <li><i></i>Pre-Employment Health Checkup</li>
              <li><i></i>Customized Package</li>
              <li><i></i>Web Portal</li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links" data-aos="fade-up" data-aos-delay="400">
            <h4>Our Social Networks</h4>
            <!-- <p>Cras fermentum odio eu feugiat lide par naso tierra videa magna derita valies</p> -->
            <div class="social-links mt-3">
              <a href="https://twitter.com/welmonde" class="twitter"><i class="bx bxl-twitter"></i></a>
              <a href="https://www.facebook.com/Welmonde-Health-105536314401733/" class="facebook"><i class="bx bxl-facebook"></i></a>
              <a href="https://www.instagram.com/welmonde.health/" class="instagram"><i class="bx bxl-instagram"></i></a>
              <!-- <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a> -->
              <!-- <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a> -->
            </div>
          </div>

        </div>
      </div>
    </div>
{% endblock %}
